* {
  font-family: sans-serif;
}
header {
  width: 100%;
  height: 100vh;
  background: url(images/cover0.jpg) no-repeat center bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-brand {
  margin-left: 5%;
  font-size: 36px;
}

.nav-item {
  margin: 0 15px;
  font-weight: 500;
  
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -o-transition-duration: 1s;
  transition-duration: 1s;
}


.row p {
  padding: 0 20%;
}

.cover h1{
  letter-spacing: 6px;
  font-size: 44px
}

#about-us {
  background-color: #282828;
  color: white;
  padding: 10% 0;
}

.hr-about {
  width: 75%;
  margin: 0 auto 2em auto;
  border: 1px solid rgba(255,255,255,0.7);
}

#about-us img {
  width: 350px;
  height: 200px;
}

.projects {
  padding: 2% 12% 2% 12%;
  height: 110vh;
}

.hr-projects {
  width: 85%;
  border: 1px solid rgba(0,0,0,0.7);
}

.carousel-item {
  height: 80vh;
}

.carousel-item > img {
  height: 100%
}

.team {
  background-color: #282828;
  color: white;
  padding: 5% 0 5% 0;
}

.hr-team {
  width: 75%;
  margin: 0 auto 2em auto;
  border: 1px solid rgba(255,255,255,0.9);
}
.box-team {
  margin: 2% 0 2% 0;
  padding: 0 8%;
}

.team img {
  width: 100%;
  border-radius: 20%;
  -webkit-box-shadow: 0 0 5px 2px #fff;
  -moz-box-shadow: 0 0 5px 2px #fff;
  box-shadow: 0 0 10px 10px #101010;
}

.contact {
  padding: 8% 0 8% 0;
}

.contact h3 {
  margin-bottom: 5%;
}

.contact-box{
  padding: 3% 12%;
}

.contact img {
  width: 100%;
  opacity: 0.75;
}

footer{
  padding: 2% 0 2% 0;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 725px){
  .projects {
    height: 80vh;
    padding: 2% 20%;
  }

  .carousel-item {
    height: 50vh;
  }

  .box-team{
    font-size: 14px;
  }
}

@media only screen and (max-width: 730px) and (min-width: 575px){
  .nav-item {
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px){
  .navbar {
    background-color: white !important;
  }
  content {
    font-size: 12px;
  }
  #about-us img {
    width: 100%;
    padding: 10% 0%;
  }
  .projects {
    padding:5% 5%;
    height: 60vh;
  }

  .carousel-item {
    height: 40vh;
  }

  .box-team{
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }
}
